.modal-body
  .field.form-group
    = f.text_field :name, placeholder: :name, class: 'form-control'
.modal-footer
  %button.btn.btn-outline-dark{ data: { dismiss: "modal" } }
    Close
  = f.submit 'Save', class: 'btn btn-dark'